@import 'font.css';
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

header {
  width: 100%;
  margin: 0 auto;
  height: 700px;
}

#nav1_box {
  width: 100%;
  border: 1px solid #ddd;
}

#nav1 {
  width: 1300px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  cursor: pointer;
}
#nav1 #help {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav1 .help1 {
  width: 190px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
#nav1 .help1:hover {
  color: #9f7e58;
}
#nav1 #my {
  width: 170px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav1 .icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav2_box {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

#nav2 {
  width: 1300px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
#nav2 .logo {
  width: 250px;
  height: 60px;
}
#nav2 .logo img {
  width: 100%;
  height: 100%;
}
#nav2 ul {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#nav2 ul li a {
  transition: 0.3s ease;
}
#nav2 ul li a:hover {
  color: #9f7e58;
}
#nav2 #search {
  width: 300px;
  height: 40px;
  background-color: #f6f5f3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#nav2 #search #search_icon {
  width: 8%;
  height: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav2 #search input {
  width: 75%;
  height: 25px;
  font-size: 17px;
  border: none;
  background-color: #f6f5f3;
}

.main_slide {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/bg.png);
}
.main_slide .slide_box {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.main_slide .slide_box .slide_box_box {
  width: 5600px;
  height: 100%;
  display: flex;
}
.main_slide .slide_box .slide {
  width: 1300px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_slide .slide_box .slide .slide_1 {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.main_slide .slide_box .slide h1 {
  font-size: 50px;
  color: #333;
}
.main_slide .slide_box .slide h1:first-of-type {
  font-weight: 40;
}
.main_slide .slide_box .slide h1 :nth-child(2) {
  font-weight: 900;
  color: #9f7e58;
}
.main_slide .slide_box .slide p {
  color: #666;
  margin-bottom: 2%;
}
.main_slide .slide_box .slide .slide1_button {
  width: 200px;
  height: 50px;
  background-color: #9f7e58;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  transition: 0.3s ease;
  cursor: pointer;
}
.main_slide .slide_box .slide .slide1_button:hover {
  background-color: #333;
}
.main_slide .slide_box .slide:nth-child(1) img {
  width: 80%;
  height: 80%;
}
.main_slide .slide_box .slide:nth-child(2) img:first-child {
  margin-left: 17%;
}
.main_slide .slide_box .slide .slide2 {
  width: 60%;
  height: 100%;
}
.main_slide .slide_box .slide .slide2:first-of-type img {
  width: 80%;
  height: 80%;
  margin-top: 5%;
  margin-left: 5%;
}
.main_slide .slide_box .slide:nth-of-type(2) {
  position: relative;
}
.main_slide .slide_box .slide:nth-of-type(2) img:nth-child(2) {
  position: absolute;
  top: 50px;
  right: 180px;
  -webkit-animation: slide2 1s infinite alternate;
          animation: slide2 1s infinite alternate;
}
.main_slide .slide_box .slide:nth-of-type(3) {
  position: relative;
}
.main_slide .slide_box .slide:nth-of-type(3) h1, .main_slide .slide_box .slide:nth-of-type(3) p {
  margin-left: 20%;
}
.main_slide .slide_box .slide:nth-of-type(3) img:nth-child(1) {
  position: absolute;
  z-index: 5;
  left: 50%;
}
.main_slide .slide_box .slide:nth-of-type(3) img:nth-child(2) {
  position: absolute;
  top: 70px;
  right: 180px;
  -webkit-animation: slide3 15s linear infinite backwards;
          animation: slide3 15s linear infinite backwards;
}
.main_slide .slide_box .slide:nth-of-type(3) img:nth-child(3) {
  position: absolute;
  top: 10px;
  right: 100px;
  -webkit-animation: slide3 17s linear infinite 3s backwards;
          animation: slide3 17s linear infinite 3s backwards;
}
.main_slide .slide_box .slide:nth-of-type(3) img:nth-child(4) {
  position: absolute;
  top: 70px;
  right: 100px;
  -webkit-animation: slide3 18s linear infinite 6s backwards;
          animation: slide3 18s linear infinite 6s backwards;
}
.main_slide .slide_box .slide:nth-of-type(3) img:nth-child(5) {
  position: absolute;
  top: 30px;
  right: 100px;
  -webkit-animation: slide3 20s linear infinite 9s backwards;
          animation: slide3 20s linear infinite 9s backwards;
}
.main_slide .slide_box .slide:last-of-type {
  position: relative;
}
.main_slide .slide_box .slide:last-of-type img:nth-child(1) {
  position: absolute;
  right: 300px;
}
.main_slide .slide_box .slide:last-of-type img:nth-child(2) {
  position: absolute;
  right: 300px;
  -webkit-animation: slide4 1s linear infinite alternate;
          animation: slide4 1s linear infinite alternate;
}
.main_slide .slide_box .slide:last-of-type img:nth-child(3) {
  position: absolute;
  top: 200px;
  right: 300px;
  -webkit-animation: slide5 1.5s linear infinite alternate;
          animation: slide5 1.5s linear infinite alternate;
}
.main_slide .slide_box .slide:last-of-type img:nth-child(4) {
  position: absolute;
  top: 200px;
  right: 700px;
  transform: translateY(0);
  -webkit-animation: slide4 2s linear infinite alternate;
          animation: slide4 2s linear infinite alternate;
}
.main_slide .slide_box .slide:last-of-type img:nth-child(5) {
  position: absolute;
  top: 50px;
  right: 700px;
  -webkit-animation: slide2 2.5s linear infinite alternate;
          animation: slide2 2.5s linear infinite alternate;
}
.main_slide .slide_button {
  width: 120px;
  height: 50px;
  position: absolute;
  left: 45%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main_slide .slide_button .sb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ddd;
}
.main_slide .slide_button .sb_c {
  background-color: #333;
  position: relative;
}

#cate {
  width: 1500px;
  height: 400px;
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cate_box {
  width: 1300px;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cate1 {
  width: 20%;
  height: 200px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
}
.cate1:first-child {
  background-color: #f9f1fe;
}
.cate1:nth-child(2) {
  background-color: #fbf4ea;
}
.cate1:nth-child(3) {
  background-color: #f4e6e5;
}
.cate1:nth-child(4) {
  background-color: #e7f2f4;
}
.cate1 p {
  font-size: 20px;
  margin-top: 5%;
  margin-left: 10%;
}
.cate1 span {
  margin-top: 3%;
  margin-left: 10%;
}
.cate1 img {
  margin-left: 10%;
}

.books1 {
  width: 1300px;
  height: 600px;
  transition: 1s ease;
  margin: 5% auto;
}
.books1 h1 {
  margin-bottom: 3%;
}
.books1 #book_box {
  width: 1300px;
  height: 400px;
  box-sizing: border-box;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.books1 #book_box .books {
  width: 20%;
  height: 400px;
  transition: 0.3s ease;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.books1 #book_box .books:hover {
  border: 1px solid #333;
  box-shadow: 4px 4px 4px #ddd;
}
.books1 #book_box .books:hover .books_text {
  bottom: 45px;
}
.books1 #book_box .books_img {
  width: 60%;
  height: 65%;
}
.books1 #book_box .books_img img {
  width: 100%;
  height: 100%;
}
.books1 #book_box .books_text {
  width: 100%;
  height: 150px;
  background-color: white;
  position: absolute;
  bottom: 0;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.books1 #book_box .books_text span {
  width: 80%;
  font-size: 12px;
  color: #f30b0b;
  margin-bottom: 3%;
}
.books1 #book_box .books_text h6 {
  width: 80%;
  height: 20%;
  height: auto;
  color: #aaa;
  font-size: 13px;
  margin-top: 5%;
}
.books1 #book_box .books_text h3 {
  width: 80%;
  font-size: 17px;
  height: 30%;
}
.books1 #book_box .books_text p {
  width: 80%;
  margin-top: 5%;
  color: #333;
}
.books1 #book_box .books_text2 {
  width: 100%;
  height: 25%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  cursor: pointer;
}
.books1 #book_box .books_text2 .icon2_box {
  width: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.books1 #book_box .books_text2 .icon2 {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 0.3s ease;
  margin-bottom: -6%;
  cursor: pointer;
}
.books1 #book_box .books_text2 .icon2 img {
  width: 65%;
}
.books1 #book_box .books_text2 .icon2:hover {
  background-color: #f75454;
}

article {
  width: 1300px;
  height: 800px;
  margin: 5% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
article h1 {
  font-size: 40px;
}

.art {
  width: 500px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.art .art2 {
  width: 30%;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.art_box {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.art_box2 {
  display: none;
}

.art_box3 {
  display: none;
}

.art1 {
  width: 16.513%;
  height: 320px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: relative;
  transition: 0.3s ease;
}
.art1:hover {
  border: 1px solid #333;
  box-shadow: 4px 4px 4px #ddd;
}
.art1:hover .art1_text {
  bottom: 40px;
}
.art1 .art1_img {
  width: 70%;
  height: 220px;
}
.art1 .art1_text2 {
  width: 100%;
  height: 70px;
  margin-bottom: 2.5%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  cursor: pointer;
}
.art1 .art1_text2 .icon3_box {
  width: 70px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.art1 .art1_text2 .icon3_box .icon3 {
  width: 30px;
  height: 30px;
  transition: 0.3s ease;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.art1 .art1_text2 .icon3_box .icon3 img {
  width: 65%;
}
.art1 .art1_text2 .icon3_box .icon3:hover {
  background-color: #f75454;
}
.art1 .art1_text {
  width: 100%;
  height: 150px;
  background-color: white;
  position: absolute;
  bottom: 0;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.art1 .art1_text h6 {
  width: 80%;
  height: 20%;
  height: auto;
  color: #aaa;
  font-size: 13px;
  margin-top: 5%;
}
.art1 .art1_text h3 {
  width: 80%;
  font-size: 15px;
  height: 35%;
}
.art1 .art1_text p {
  width: 80%;
  margin-top: 5%;
  color: #333;
}
.art1 .art1_text span {
  width: 80%;
  font-size: 12px;
  color: #f30b0b;
  margin-bottom: 3%;
}

.deal {
  width: 100%;
  height: 634px;
  margin: 10% auto;
  background-color: #fff3e4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.deal h1 {
  font-size: 40px;
}

.deal_text {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4%;
}
.deal_text p {
  cursor: pointer;
  transition: 0.3s ease;
}
.deal_text p:hover {
  color: #9f7e58;
}

.deal_slide {
  width: 80%;
  height: 334px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.deal_slide #prev,
.deal_slide #next {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #ddd;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  cursor: pointer;
}
.deal_slide #prev:hover,
.deal_slide #next:hover {
  background-color: #333;
  color: white;
}
.deal_slide .deal_slide_box_box {
  width: 1150px;
  height: 100%;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  overflow: hidden;
}
.deal_slide .deal_slide_box {
  width: 3450px;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deal_box {
  width: 575px;
  height: 333px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  transition: 0.3s ease;
  display: flex;
}
.deal_box:hover {
  box-shadow: 0px 2px 30px 10px rgba(221, 221, 221, 0.5);
}
.deal_box:first-of-type .deal_book {
  background-image: url(../img/book1.jpg.crdownload);
  background-size: contain;
  background-repeat: no-repeat;
}
.deal_box:nth-child(2) .deal_book {
  background-image: url(../img/book2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.deal_box:nth-child(3) .deal_book {
  background-image: url(../img/book3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.deal_box:nth-child(4) .deal_book {
  background-image: url(../img/book4.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.deal_box:nth-child(5) .deal_book {
  background-image: url(../img/book5.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.deal_box:nth-child(6) .deal_book {
  background-image: url(../img/book6.jpg.crdownload);
  background-size: contain;
  background-repeat: no-repeat;
}
.deal_box .deal_book {
  width: 220px;
  height: 267px;
  margin-left: 3%;
  margin-top: 5%;
}
.deal_box .deal_book img {
  width: 100%;
  height: 100%;
}
.deal_box .deal_text2 {
  width: 295px;
  height: 464px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}
.deal_box .deal_text2 .text2_box {
  width: 80%;
  height: 40%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
.deal_box .deal_text2 .text2_box2 {
  width: 80%;
  height: 50%;
  margin-top: 8%;
}
.deal_box .deal_text2 .text2_box2 .count {
  width: 80%;
  height: 1rem;
  background-color: #fff3e4;
  border-radius: 20px;
  position: relative;
  margin-top: 3%;
}
.deal_box .deal_text2 .text2_box2 .count:after {
  content: "";
  width: 65%;
  height: 1rem;
  background-color: #9f7e58;
  position: absolute;
  border-radius: 20px;
}
.deal_box .deal_text2 span {
  color: #f30b0b;
}
.deal_box .deal_text2 h3 {
  color: #333;
  font-size: 25px;
}
.deal_box .deal_text2 h6 {
  color: #666;
  font-size: 15px;
}
.deal_box .deal_text2 p {
  color: #333;
}

.circle_box {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.circle_box .circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
}
.circle_box .sb_c {
  background-color: #333;
  position: relative;
}

.new {
  width: 1300px;
  height: 850px;
  margin: 5% auto;
}
.new .new_text {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new .new_text .text_box {
  width: 450px;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.new .new_book_box2 {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  display: none;
}
.new .new_book_box2 .new_img {
  width: 200px;
  height: 300px;
  margin-bottom: 5%;
  margin-right: 27%;
}
.new .new_book_box2 img {
  width: 100%;
  height: 100%;
}
.new .new_book_box2 .new_book1 {
  width: 32%;
  height: 100%;
  background-color: #fff3e4;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.new .new_book_box2 .new_book1 .new_text2 h2 {
  font-size: 40px;
}
.new .new_book_box2 .new_book1 .new_text2 h1 {
  font-size: 50px;
  color: #f75454;
}
.new .new_book_box2 .new_book1 .new_text2 p {
  font-size: 40px;
  color: #666;
}
.new .new_book_box2 .new_book1 .new_text2 .new_button {
  width: 200px;
  height: 50px;
  background-color: #9f7e58;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 8%;
  cursor: pointer;
  transition: 0.3s ease;
}
.new .new_book_box2 .new_book1 .new_text2 .new_button:hover {
  background-color: #333;
}
.new .new_book_box2 .new_book2 {
  width: 16.81%;
  height: 373px;
  position: relative;
  transition: 0.3s ease;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.new .new_book_box2 .new_book2:hover {
  border: 1px solid #333;
  box-shadow: 4px 4px 4px #ddd;
}
.new .new_book_box2 .new_book2:hover .new_text3 {
  bottom: 40px;
}
.new .new_book_box2 .new_book2 .new_book3 {
  width: 150px;
  height: 210px;
}
.new .new_book_box2 .new_book2 .new_book3 img {
  width: 100%;
  height: 100%;
}
.new .new_book_box2 .new_book2 .new_text3 {
  width: 100%;
  height: 135px;
  background-color: white;
  transition: 0.3s ease;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.new .new_book_box2 .new_book2 .new_text3 h6 {
  width: 80%;
  height: 7%;
  height: auto;
  color: #aaa;
  font-size: 13px;
  margin-top: 12%;
}
.new .new_book_box2 .new_book2 .new_text3 h3 {
  width: 80%;
  font-size: 13px;
  height: 25%;
}
.new .new_book_box2 .new_book2 .new_text3 p {
  width: 80%;
  margin-top: 2%;
  color: #333;
}
.new .new_book_box2 .new_book2 .new_text3 span {
  width: 80%;
  font-size: 12px;
  color: #f30b0b;
  display: inline-block;
  margin-top: 5%;
}
.new .new_book_box2 .new_book2 .new_text4 {
  width: 95%;
  height: 120px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 5%;
}
.new .new_book_box2 .new_book2 .new_text4 .icon4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: -3%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
.new .new_book_box2 .new_book2 .new_text4 .icon4 img {
  width: 65%;
}
.new .new_book_box2 .new_book2 .new_text4 .icon4:hover {
  background-color: #f75454;
}
.new .new_book_box2 .new_book2 .new_text4 .icon4_box {
  width: 70px;
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.new .new_book_box3 {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  display: none;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.new .new_book_box3 .new_img {
  width: 200px;
  height: 300px;
  margin-bottom: 5%;
  margin-right: 27%;
}
.new .new_book_box3 img {
  width: 100%;
  height: 100%;
}
.new .new_book_box3 .new_book1 {
  width: 32%;
  height: 100%;
  background-color: #fff3e4;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.new .new_book_box3 .new_book1 .new_text2 h2 {
  font-size: 40px;
}
.new .new_book_box3 .new_book1 .new_text2 h1 {
  font-size: 50px;
  color: #f75454;
}
.new .new_book_box3 .new_book1 .new_text2 p {
  font-size: 40px;
  color: #666;
}
.new .new_book_box3 .new_book1 .new_text2 .new_button {
  width: 200px;
  height: 50px;
  background-color: #9f7e58;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 8%;
  cursor: pointer;
  transition: 0.3s ease;
}
.new .new_book_box3 .new_book1 .new_text2 .new_button:hover {
  background-color: #333;
}
.new .new_book_box3 .new_book2 {
  width: 16.81%;
  height: 373px;
  position: relative;
  transition: 0.3s ease;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.new .new_book_box3 .new_book2:hover {
  border: 1px solid #333;
  box-shadow: 4px 4px 4px #ddd;
}
.new .new_book_box3 .new_book2:hover .new_text3 {
  bottom: 40px;
}
.new .new_book_box3 .new_book2 .new_book3 {
  width: 150px;
  height: 210px;
}
.new .new_book_box3 .new_book2 .new_book3 img {
  width: 100%;
  height: 100%;
}
.new .new_book_box3 .new_book2 .new_text3 {
  width: 100%;
  height: 135px;
  background-color: white;
  transition: 0.3s ease;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.new .new_book_box3 .new_book2 .new_text3 h6 {
  width: 80%;
  height: 7%;
  height: auto;
  color: #aaa;
  font-size: 13px;
  margin-top: 12%;
}
.new .new_book_box3 .new_book2 .new_text3 h3 {
  width: 80%;
  font-size: 13px;
  height: 25%;
}
.new .new_book_box3 .new_book2 .new_text3 p {
  width: 80%;
  margin-top: 2%;
  color: #333;
}
.new .new_book_box3 .new_book2 .new_text3 span {
  width: 80%;
  font-size: 12px;
  color: #f30b0b;
  display: inline-block;
  margin-top: 5%;
}
.new .new_book_box3 .new_book2 .new_text4 {
  width: 95%;
  height: 120px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 5%;
}
.new .new_book_box3 .new_book2 .new_text4 p {
  cursor: pointer;
}
.new .new_book_box3 .new_book2 .new_text4 .icon4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: -3%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
.new .new_book_box3 .new_book2 .new_text4 .icon4 img {
  width: 65%;
}
.new .new_book_box3 .new_book2 .new_text4 .icon4:hover {
  background-color: #f75454;
}
.new .new_book_box3 .new_book2 .new_text4 .icon4_box {
  width: 70px;
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.new .new_book_box4 {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  display: none;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.new .new_book_box4 .new_img {
  width: 200px;
  height: 300px;
  margin-bottom: 5%;
  margin-right: 27%;
}
.new .new_book_box4 img {
  width: 100%;
  height: 100%;
}
.new .new_book_box4 .new_book1 {
  width: 32%;
  height: 100%;
  background-color: #fff3e4;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.new .new_book_box4 .new_book1 .new_text2 h2 {
  font-size: 40px;
}
.new .new_book_box4 .new_book1 .new_text2 h1 {
  font-size: 50px;
  color: #f75454;
}
.new .new_book_box4 .new_book1 .new_text2 p {
  font-size: 40px;
  color: #666;
}
.new .new_book_box4 .new_book1 .new_text2 .new_button {
  width: 200px;
  height: 50px;
  background-color: #9f7e58;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 8%;
  cursor: pointer;
  transition: 0.3s ease;
}
.new .new_book_box4 .new_book1 .new_text2 .new_button:hover {
  background-color: #333;
}
.new .new_book_box4 .new_book2 {
  width: 16.81%;
  height: 373px;
  position: relative;
  transition: 0.3s ease;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.new .new_book_box4 .new_book2:hover {
  border: 1px solid #333;
  box-shadow: 4px 4px 4px #ddd;
}
.new .new_book_box4 .new_book2:hover .new_text3 {
  bottom: 40px;
}
.new .new_book_box4 .new_book2 .new_book3 {
  width: 150px;
  height: 210px;
}
.new .new_book_box4 .new_book2 .new_book3 img {
  width: 100%;
  height: 100%;
}
.new .new_book_box4 .new_book2 .new_text3 {
  width: 100%;
  height: 135px;
  background-color: white;
  transition: 0.3s ease;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.new .new_book_box4 .new_book2 .new_text3 h6 {
  width: 80%;
  height: 7%;
  height: auto;
  color: #aaa;
  font-size: 13px;
  margin-top: 12%;
}
.new .new_book_box4 .new_book2 .new_text3 h3 {
  width: 80%;
  font-size: 13px;
  height: 25%;
}
.new .new_book_box4 .new_book2 .new_text3 p {
  width: 80%;
  margin-top: 2%;
  color: #333;
}
.new .new_book_box4 .new_book2 .new_text3 span {
  width: 80%;
  font-size: 12px;
  color: #f30b0b;
  display: inline-block;
  margin-top: 5%;
}
.new .new_book_box4 .new_book2 .new_text4 {
  width: 95%;
  height: 120px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 5%;
}
.new .new_book_box4 .new_book2 .new_text4 p {
  cursor: pointer;
}
.new .new_book_box4 .new_book2 .new_text4 .icon4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: -3%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
.new .new_book_box4 .new_book2 .new_text4 .icon4 img {
  width: 65%;
}
.new .new_book_box4 .new_book2 .new_text4 .icon4:hover {
  background-color: #f75454;
}
.new .new_book_box4 .new_book2 .new_text4 .icon4_box {
  width: 70px;
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.new .new_book_box {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.new .new_book_box .new_book1 {
  width: 32%;
  height: 100%;
  background-color: #fff3e4;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.new .new_book_box .new_book1 .new_text2 h2 {
  font-size: 40px;
}
.new .new_book_box .new_book1 .new_text2 h1 {
  font-size: 50px;
  color: #f75454;
}
.new .new_book_box .new_book1 .new_text2 p {
  font-size: 40px;
  color: #666;
}
.new .new_book_box .new_book1 .new_text2 .new_button {
  width: 200px;
  height: 50px;
  background-color: #9f7e58;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 8%;
  cursor: pointer;
  transition: 0.3s ease;
}
.new .new_book_box .new_book1 .new_text2 .new_button:hover {
  background-color: #333;
}
.new .new_book_box .new_book2 {
  width: 16.81%;
  height: 373px;
  position: relative;
  transition: 0.3s ease;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.new .new_book_box .new_book2:hover {
  border: 1px solid #333;
  box-shadow: 4px 4px 4px #ddd;
}
.new .new_book_box .new_book2:hover .new_text3 {
  bottom: 40px;
}
.new .new_book_box .new_book2 .new_book3 {
  width: 150px;
  height: 210px;
}
.new .new_book_box .new_book2 .new_book3 img {
  width: 100%;
  height: 100%;
}
.new .new_book_box .new_book2 .new_text3 {
  width: 100%;
  height: 135px;
  background-color: white;
  transition: 0.3s ease;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.new .new_book_box .new_book2 .new_text3 h6 {
  width: 80%;
  height: 7%;
  height: auto;
  color: #aaa;
  font-size: 13px;
  margin-top: 12%;
}
.new .new_book_box .new_book2 .new_text3 h3 {
  width: 80%;
  font-size: 13px;
  height: 25%;
}
.new .new_book_box .new_book2 .new_text3 p {
  width: 80%;
  margin-top: 2%;
  color: #333;
}
.new .new_book_box .new_book2 .new_text3 span {
  width: 80%;
  font-size: 12px;
  color: #f30b0b;
  display: inline-block;
  margin-top: 5%;
}
.new .new_book_box .new_book2 .new_text4 {
  width: 95%;
  height: 120px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 5%;
}
.new .new_book_box .new_book2 .new_text4 .icon4 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: -3%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
.new .new_book_box .new_book2 .new_text4 .icon4 img {
  width: 65%;
}
.new .new_book_box .new_book2 .new_text4 .icon4:hover {
  background-color: #f75454;
}
.new .new_book_box .new_book2 .new_text4 .icon4_box {
  width: 70px;
  height: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.bio {
  width: 1300px;
  height: 400px;
  margin: 15% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bio h1 {
  width: 100%;
  margin-bottom: 3%;
}
.bio .bio_slide {
  width: 100%;
  height: 250px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  overflow: hidden;
}
.bio .bio_slide_box {
  width: 3031px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bio .bio_slide_box .bio1 {
  width: 433px;
  height: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-left: 1px solid rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(0, 0, 0, 0);
  transition: 0.3s ease;
}
.bio .bio_slide_box .bio1:hover {
  box-shadow: 0px 2px 10px 10px rgba(221, 221, 221, 0.5);
}
.bio .bio_img {
  width: 30%;
  height: 200px;
  background-color: #aaa;
}
.bio .bio_img img {
  width: 100%;
  height: 100%;
}
.bio .bio_text {
  width: 65%;
  height: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.bio .bio_text span {
  width: 80%;
  color: #f30b0b;
  font-size: 12px;
}
.bio .bio_text h3 {
  width: 80%;
  color: #333;
  font-size: 18px;
  margin: 2% 0;
}
.bio .bio_text h6 {
  width: 80%;
  color: #666;
  font-size: 12px;
  margin: 2% 0;
}
.bio .bio_text p {
  width: 80%;
  color: #333;
}
.bio .button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bio .button .circle1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  cursor: pointer;
}
.bio .button .sb_c {
  background-color: #333;
  position: relative;
}

.favorite {
  width: 1300px;
  height: 400px;
  margin: 10% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.favorite .favo_text {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3%;
  cursor: pointer;
}
.favorite .favo_text p {
  transition: 0.3s ease;
}
.favorite .favo_text p:hover {
  color: #9f7e58;
}
.favorite #prev2 {
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #ddd;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  cursor: pointer;
}
.favorite #prev2:hover {
  background-color: #333;
  color: white;
}
.favorite #next2 {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ddd;
  font-size: 30px;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.favorite #next2:hover {
  background-color: #333;
  color: white;
}
.favorite .favo_box {
  width: 935px;
  height: 200px;
  overflow: hidden;
}
.favorite .favo_box .favo_box_box {
  width: 1500px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.favorite .favo_box .favo_box_box .favo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.favorite .favo_box .favo_box_box .favo p {
  color: #666;
  margin-top: 5%;
}
.favorite .favo_box .favo_box_box .favo:first-of-type .favo_img {
  background-image: url(../img/f1\ \(1\).jpg);
  background-position: center;
  background-size: cover;
}
.favorite .favo_box .favo_box_box .favo:nth-of-type(2) .favo_img {
  background-image: url(../img/f1\ \(2\).jpg);
  background-position: center;
  background-size: cover;
}
.favorite .favo_box .favo_box_box .favo:nth-of-type(3) .favo_img {
  background-image: url(../img/f1\ \(3\).jpg);
  background-position: center;
  background-size: cover;
}
.favorite .favo_box .favo_box_box .favo:nth-of-type(4) .favo_img {
  background-image: url(../img/f1\ \(4\).jpg);
  background-position: center;
  background-size: cover;
}
.favorite .favo_box .favo_box_box .favo:nth-of-type(5) .favo_img {
  background-image: url(../img/f2\ \(1\).png);
  background-position: center;
  background-size: cover;
}
.favorite .favo_box .favo_box_box .favo:nth-of-type(6) .favo_img {
  background-image: url(../img/f3.jpg);
  background-position: center;
  background-size: cover;
}
.favorite .favo_box .favo_box_box .favo:nth-of-type(7) .favo_img {
  background-image: url(../img/f4.jpg);
  background-position: center;
  background-size: cover;
}
.favorite .favo_box .favo_box_box .favo:nth-of-type(8) .favo_img {
  background-image: url(../img/f5.jpg.crdownload);
  background-position: center;
  background-size: cover;
}
.favorite .favo_box .favo_img {
  width: 150px;
  height: 150px;
  background-color: crimson;
  border-radius: 50%;
}

footer {
  width: 100%;
  height: 493px;
  border-top: 1px solid #ddd;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .f1 {
  width: 270px;
  height: 350px;
  margin-top: -5%;
}
footer .f1 .logo {
  width: 200px;
  height: 50px;
  margin: 10% 0;
}
footer .f1 .logo img {
  width: 100%;
  height: 100%;
}
footer .f1 p:nth-of-type(2) {
  margin-top: 2%;
  margin-bottom: 7%;
}
footer .f1 p:nth-of-type(4) {
  margin-top: 2%;
  margin-bottom: 5%;
}
footer .f1 .f1_icon {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .f1 .f1_icon .f_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
footer .f1 .f1_icon img {
  width: 100%;
  height: 100%;
  filter: brightness(20%);
  transition: 0.3s ease;
}
footer .f1 .f1_icon img:hover {
  filter: brightness(100%);
}
footer .f2 {
  width: 160px;
  height: 350px;
  margin: 1%;
}
footer .f2 p {
  font-size: 18px;
  margin-bottom: 10%;
  font-weight: 600;
}
footer ul {
  font-size: 15px;
  font-weight: 1px;
}
footer ul li {
  line-height: 2.5;
}
footer ul li a {
  transition: 0.3s ease;
}
footer ul li a:hover {
  color: #f75454;
  margin-left: 10px;
}

.click {
  color: #9f7e58;
}

.sb_c {
  background-color: #333;
  position: relative;
}

.sb_c::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 999;
  border: 1px solid #333;
  -webkit-animation: sb 0.3s ease;
          animation: sb 0.3s ease;
}

@-webkit-keyframes slide2 {
  from {
    top: 60px;
  }
  to {
    top: 40px;
  }
}

@keyframes slide2 {
  from {
    top: 60px;
  }
  to {
    top: 40px;
  }
}
@-webkit-keyframes slide3 {
  0% {
    right: 600px;
    opacity: 0;
  }
  3% {
    right: 600px;
    opacity: 1;
  }
  100% {
    right: 0px;
    opacity: 0;
  }
}
@keyframes slide3 {
  0% {
    right: 600px;
    opacity: 0;
  }
  3% {
    right: 600px;
    opacity: 1;
  }
  100% {
    right: 0px;
    opacity: 0;
  }
}
@-webkit-keyframes slide4 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px) translateX(10px);
  }
}
@keyframes slide4 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px) translateX(10px);
  }
}
@-webkit-keyframes slide5 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-15px) translateX(-15px);
  }
}
@keyframes slide5 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-15px) translateX(-15px);
  }
}
@-webkit-keyframes sb {
  from {
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  to {
    transform: scale(1) translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
@keyframes sb {
  from {
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  to {
    transform: scale(1) translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}