@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color:#333;
}

$w: 1300px;
$m: 0 auto;
$h: 100%;
$c: pointer;
$f:'NanumSquareRound';

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    @content;
}

@mixin flex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @content;
}

@mixin flex3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @content;
}

@mixin flex4($flex, $justify, $align, $direction...) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction
}
@mixin bg{
    background-position: center;
    background-size: cover;
}

@mixin border{
    border: {
        bottom:$border;
        right:$border;
        left:$border2;
        top:$border2;
    }
}

@mixin border2{
    border: {
        top:$border;
        left:$border;

    }
}




header {
    width: 100%;
    margin: $m;
    height: 700px;

}


#nav1_box {
    width: 100%;
    border: 1px solid #ddd;
}

#nav1 {
    width: $w;
    height: 40px;
    margin: $m;
    @include flex2;
    background-color: white;


    #help {
        width: 400px;
        height: $h;

        @include flex2;
    }

    .help1 {
        width: 190px;
        height: $h;
        @include flex;
    }

    #my {
        width: 170px;
        height: $h;

        @include flex2;

    }

    .icon {
        width: 30px;
        height: 30px;

        @include flex;

        
    }

    cursor: $c;

}

#nav2_box {
    width: 100%;
    border-bottom: 1px solid #ddd;
    ;
}


#nav2 {
    width: $w;
    height: 80px;
    margin: $m;
    @include flex3;
    background-color: white;



    .logo {
        width: 250px;
        height: 60px;


        img {
            width: 100%;
            height: $h;
        }
    }

    ul {
        width: 600px;
        height: $h;
        @include flex3;

    }

    #search {
        width: 300px;
        height: 40px;
        background-color: #f6f5f3;
        @include flex3;

        #search_icon {
            width: 8%;
            height: 20px;
            cursor: $c;
            @include flex;

        }


        input {
            width: 75%;
            height: 25px;
            font-size: 17px;
            border: none;
            background-color: #f6f5f3;
        }
    }
}

.main_slide {
    width: 100%;
    height: 500px;
    @include flex;
    background-image: url(../img/bg.png);


    .slide_box {
        width: 1200px;
        height: 400px;

        margin: $m;
        overflow: hidden;
        position: relative;



        .slide_box_box {
            width: 5600px;
            height: $h;
            display: flex;


        }

        .slide {
            width: $w;
            height: 400px;
            @include flex;

            .slide_1 {
                width: 35%;
                height: $h;
                @include flex4(flex, center, flex-start, column);

            }

            h1 {
                font-size: 50px;
                color: #333;

                &:first-of-type {
                    font-weight: 40;

                }

                :nth-child(2) {
                    font-weight: 900;
                    color: #9f7e58;

                }
            }

            p {
                color: #666;
                margin-bottom: 2%;
            }

            .slide1_button {
                width: 200px;
                height: 50px;
                background-color: #9f7e58;
                color: #fff;
                @include flex;
                margin-top: 5%;

            }

            &:nth-child(1){
                img{
                 width:80%;
                 height:80%;
                }
            }


            &:nth-child(2){
                img{
                    &:first-child{
                        margin-left:17%;
                    }
                }
            }


            .slide2 {
                width: 60%;
                height: $h;

                &:first-of-type {

                    img {


                        width: 80%;
                        height: 80%;

                        margin: {
                            top: 5%;
                            left: 5%;
                        }

                    }
                }

              
            }
            &:nth-of-type(2) {
                position: relative;

                img {
                    &:nth-child(2) {
                        position: absolute;
                        top: 50px;
                        right: 180px;
                        animation: slide2 1s infinite alternate;

                    }

                }
            }

            &:nth-of-type(3) {
                position: relative;

                img {
                    &:nth-child(1){
                        position:absolute;
                        z-index: 5;
                    }

                    &:nth-child(2) {
                        position: absolute;
                        top: 70px;
                        right: 180px;
                        animation: slide3 15s linear infinite backwards;
                       

                    }
                    
                    &:nth-child(3) {
                        position: absolute;
                        top: 10px;
                        right: 100px;
                        animation: slide3 17s linear infinite 3s  backwards;
                       

                    }
                    &:nth-child(4) {
                        position: absolute;
                        top: 70px;
                        right: 100px;
                        animation: slide3 18s linear infinite 6s backwards;
                       

                    }
                    &:nth-child(5) {
                        position: absolute;
                        top: 30px;
                        right: 100px;
                        animation: slide3 20s linear infinite 9s backwards;
                       

                    }
                }
            }

            &:last-of-type {

                position:relative;

                img{
                &:nth-child(1){
                    position:absolute;
                    right:300px;
                
                }
                &:nth-child(2){
                    position:absolute;
                    right:300px;
                    animation: slide4 1s linear infinite alternate;
                }
                &:nth-child(3){
                    position:absolute;
                    top:200px;
                    right:300px;
                    animation: slide5 1.5s linear infinite alternate;
                }
                &:nth-child(4){
                    position:absolute;
                    top:200px;
                    right:700px;
                   transform: translateY(0);
                    animation: slide4 2s linear infinite alternate;
                 
                }
                &:nth-child(5){
                    position:absolute;
                    top:50px;
                    right:700px;

                    animation: slide2 2.5s linear infinite alternate;
                
                }
            }
            }

        }
    }

       

    .slide_button {
        width: 120px;
        height: 50px;
        position: absolute;
        left: 45%;
        bottom: 0;
        @include flex3;


        .sb {
            width: 20px;
            height: 20px;
            background-color: #ddd;
        }
    }




}


#cate {
    width: $w+200;
    height: 400px;

    margin: $m;
    @include flex4(flex, center, center, column)
}

.cate_box {
    width: $w;
    height: 80%;
    @include flex3;
}

.cate1 {
    width: 20%;
    height: 200px;
    display: flex;
    @include flex4(flex,center,flex-start,column);
    
    &:first-child{
        background-color: #f9f1fe;
    }
    
    &:nth-child(2){
        background-color: #fbf4ea;
    }


    &:nth-child(3){
        background-color: #f4e6e5;
    }


    &:nth-child(4){
        background-color: #e7f2f4;
    }
    p{
        font-size: 20px;
        margin: {
            top:5%;
            left:10%;
        }
    }
    span{
        margin: {
            top:3%;
            left:10%;
        }
   
    }
    img{
        margin-left:10%;
    }

}

.books1 {
    width: $w;
    height: 600px;
    transition: 1s ease;
    margin: $m;

    h1 {
        margin-bottom: 3%;
    }

    #book_box {
        $border: 1px solid #ddd !global;
        $border2:1px solid rgba(0,0,0,0) !global;
        width: $w;
        height: 400px;
        box-sizing: border-box;

        border: {
            right: $border;
            left: $border;
            top: $border;
        }

        @include flex3;



        .books {
            width: 20%;
            height: 400px;
            transition: 0.3s ease;

            border: {
                right: $border;
                bottom: $border;
                left:$border2;
                top:$border2;

            }

            position:relative;

            @include flex4(flex, flex-end, center, column);

            &:hover {
                border: 1px solid #333;
                box-shadow: 4px 4px 4px #ddd;
            }

            &:hover .books_text {
                bottom: 45px;
            }

        }





        .books_img {
            width: 60%;
            height: 65%;
            background-color: darkgreen;

            img {
                width: 100%;
                height: $h;
            }
        }

        .books_text {
            width: 100%;
            height: 150px;
            background-color: white;
            position: absolute;
            bottom: 0;
            transition: 0.3s ease;
            @include flex
            {flex-direction: column;};

            span{
                width:80%;
                font-size: 12px;
                color: #f30b0b;
                margin-bottom:3%;
            }

            h6{
                width:80%;
                height:20%;
                height:auto;
                color:#aaa;
                font-size:13px;
                margin-top:5%;
               
            }

            h3{
                width:80%;
                font-size:17px;
                  height:30%;
            }

            p{
                width:80%;
                margin-top:5%;
                color:#333;
            }
        }

        .books_text2 {
            width: 100%;
            height: 25%;
            margin-bottom: 5%;
            @include flex4(flex, space-around, flex-end, row);

            .icon2_box {
                width: 70px;


                @include flex3;
            }

            .icon2 {
                width: 35px;
                height: 35px;
                @include flex;
                border-radius: 50%;
                transition:0.3s ease;
                margin-bottom: -6%;
                
                img{
                    width:65%;
                }

                &:hover{
                    background-color: #f75454;
                }

            }
        }


    }
}




article {
    width: $w;
    height: 800px;

    margin: $m;

    h1 {
        font-size: 40px;
    }

    @include flex4(flex, space-between, center, column);

}

.art {
    width: 500px;
    height: 70px;

    @include flex2;

    .art2 {
        width: 30%;
        height: 40px;

        @include flex
    }


}

.art_box {
    width: 100%;
    height: 80%;

    @include flex {
        flex-wrap: wrap;
    }

    ;

    border: {
        top: $border;
        left: $border;

    }


}

.art1 {
    width: 16.513%;
    height: 320px;



    border: {
        right: $border;
        bottom: $border;
        left:$border2;
        top:$border2;

    }

    &:hover {
        border: 1px solid #333;
        box-shadow: 4px 4px 4px #ddd;
    }


    @include flex4(flex, flex-end, center, column);
    position:relative;
    transition:0.3s ease;

    &:hover .art1_text {
        bottom: 40px;

    }

    .art1_img {
        width: 70%;
        height: 220px;

    }



    .art1_text2 {
        width: 100%;
        height: 70px;
        margin-bottom: 2.5%;
        @include flex4(flex, space-around, flex-end, row);


        .icon3_box {
            width: 70px;
            height: 20px;

            @include flex3;

            .icon3 {
                width: 30px;
                height: 30px;
                transition:0.3s ease;
                border-radius: 50%;
                @include flex;

                img{
                    width:65%;
                }

                &:hover{
                    background-color: #f75454;
                }
         
            }
        }
    }

    .art1_text {
        width: 100%;
        height: 150px;
        background-color: white;

        position: absolute;
        bottom: 0;
        transition: 0.3s ease;
        @include flex4(flex, center, center, column);
        
        
        h6{
            width:80%;
            height:20%;
            height:auto;
            color:#aaa;
            font-size:13px;
            margin-top:5%;
           
        }

        h3{
            width:80%;
            font-size:15px;
              height:35%;
        }

        p{
            width:80%;
            margin-top:5%;
            color:#333;
        }

        span{
            width:80%;
            font-size: 12px;
            color: #f30b0b;
            margin-bottom:3%;
        }
    }

}

.deal {
    width: 1600px;
    height: 900px;
    margin: 10% auto;

    h1 {
        font-size: 40px;
    }

    @include flex {
        flex-direction: column
    }

    ;


}

.deal_text {
    width: 80%;
    height: 50px;
    @include flex2;
    margin-bottom: 4%;

}

.deal_slide {
    width: 80%;
    height: 500px;
    background-color: brown;
    margin: $m;
    @include flex3;

    #prev,
    #next {
        width: 50px;
        height: 50px;
        background-color: blanchedalmond;
    }

    .deal_slide_box_box {
        width: 1150px;
        height: $h;
        background-color: chocolate;
        overflow: hidden;
    }

    .deal_slide_box {
        width: 3450px;
        height: $h;
        background-color: rgb(126, 119, 93);
        @include flex;

    }
}

.deal_box {
    width: 575px;
    height: $h;
    background-color: chartreuse;
    border:$border;
    display: flex;


&:first-of-type{
    .deal_book{
        background-image: url(../img/book1.jpg.crdownload);
        @include bg;
    }
}

&:nth-child(2){
    .deal_book{
        background-image: url(../img/book2.jpg);
        @include bg;
    }
}

&:nth-child(3){
    .deal_book{
        background-image: url(../img/book3.jpg.crdownload);
        @include bg;
    }
}


&:nth-child(4){
    .deal_book{
        background-image: url(../img/book4.jpg);
        @include bg;
    }
}


&:nth-child(5){
    .deal_book{
        background-image: url(../img/book5.jpg);
        @include bg;
    }
}


&:nth-child(6){
    .deal_book{
        background-image: url(../img/book6.jpg);
        @include bg;
    }
}



    .deal_book{
        width:250px;
        height:450px;
        background-color: #f9f1fe;
        margin: {
            left:3%;
            top:5%;
        }
        img{
            width:100%;
            height:100%;
        }
    }

    .deal_text2{
        width:295px;
        height:450px;
        background-color: aqua;
      
        margin: {
        
            top:5%;
        }

        
    span{
        color:#f30b0b;
    }

    h3{
        color:#333;
        font-size: 25px;
    }

    h6{
        color:#666;
        font-size: 15px;
       
    }

    p{
        color:#333;
    }


    }
}


.circle_box {
    width: 200px;
    height: 50px;
    @include flex2;
    margin-top: 2%;

    .circle {
        width: 30px;
        height: 30px;
        background-color: blueviolet;
    }
}

.new {
    width: $w;
    height: 850px;

    margin: $m;


    .new_text {
        width: 100%;
        height: 70px;

        @include flex2;

        .text_box {
            width: 450px;
            height: $h;

            @include flex2;
        }
    }

    .new_book_box {
        width: 100%;
        height: 750px;

        @include flex {
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;
        };
        @include border2;

        
       

        .new_book1 {
            width: 32%;
            height: $h;
     
            @include border;

        }

        .new_book2 {
            width: 16.81%;
            height: 373px;
            position:relative;
           
           @include border;
           @include flex4(flex,flex-end,center,column);
          
           .new_book3{
            width:150px;
            height:210px;
            background-color: #ce9b9b;
           }

           .new_text3{
            width:100%;
            height:135px;
            background-color: cadetblue;
            transition:0.3s ease;
            position:absolute;
           }

           .new_text4{
            width:100%;
            height:130px;
            background-color: #a84f4f;
            @include flex4(flex,center, flex-end,row);
           }

           &:hover .new_text3{
            bottom:40px;
           }


        }
    }

}

.bio {
    width: $w;
    height: 550px;

    margin: $m;

    @include flex {
        flex-direction: column;
    }

    h1 {
        width: 100%;
        margin-bottom: 3%;
    }

    .bio_slide {
        width: 100%;
        height: 400px;
        background-color: darkblue;
    }

    .button {
        width: 200px;
        height: 50px;

        @include flex2;

        .circle1 {
            width: 30px;
            height: 30px;
            background-color: rgb(68, 64, 0);
        }
    }
}

.favorite {
    width: $w;
    height: 400px;
    background-color: cadetblue;
    margin: $m;

    .favo_text {
        @include flex2;
        margin-bottom: 3%;
    }

    .favo_box {
        width: 100%;
        height: 200px;
        background-color: burlywood;
        @include flex2;

        .favo {
            width: 18%;
            height: 200px;
            background-color: crimson;
        }
    }
}

@keyframes slide2 {
    from {
        top: 60px;
    }

    to {
        top: 40px;
    }
}

@keyframes slide3 {
    0% {
       right: 700px;
       opacity: 0;
    }
 3%{
    right: 700px;
    opacity: 1;
 }
    100% {
        right: 300px;
        opacity: 0;
    }
}

@keyframes slide4{
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(-10px) translateX(10px);

    }
}

@keyframes slide5{
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(-15px) translateX(-15px);

    }
}





// @mixin flex4($flex,$justify,$align,$direction...)
// {
//     display: $flex;
//     justify-content:$justify;
//     align-items: $align;
//     flex-direction:$direction
// }