@charset "UTF-8";
@import "font.css";

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
    @content;
}

@mixin flex2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @content;
}

@mixin flex3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @content;
}

@mixin flex4($flex, $justify, $align, $direction...) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction
}

@mixin bg {
    background-position: center;
    background-size: cover;
}

@mixin border {
    border: {
        bottom: $border;
        right: $border;
        left: $border2;
        top: $border2;
    }
}

@mixin border2 {
    border: {
        top: $border;
        left: $border;

    }
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

$w: 1300px;
$m: 0 auto;
$m2: 5% auto;
$h: 100%;
$c: pointer;
$f: 'NanumSquareRound';

header {
    width: 100%;
    margin: $m;
    height: 122px;

}


#nav1_box {
    width: 100%;
    border: 1px solid #ddd;
}

#nav1 {
    width: $w;
    height: 40px;
    margin: $m;
    @include flex2;
    background-color: white;


    #help {
        width: 400px;
        height: $h;

        @include flex2;
    }

    .help1 {
        width: 190px;
        height: $h;
        @include flex;
        transition: .3s ease;

        &:hover {
            color: #9f7e58;
        }
    }

    #my {
        width: 170px;
        height: $h;

        @include flex2;

    }

    .icon {
        width: 30px;
        height: 30px;

        @include flex;


    }

    cursor: $c;

}

#nav2_box {
    width: 100%;
    border-bottom: 1px solid #ddd;
    ;
}


#nav2 {
    width: $w;
    height: 80px;
    margin: $m;
    @include flex3;
    background-color: white;



    .logo {
        width: 250px;
        height: 60px;


        img {
            width: 100%;
            height: $h;
        }
    }

    ul {
        width: 600px;
        height: $h;
        @include flex3;

        li {


            a {
                transition: .3s ease;

                &:hover {
                    color: #9f7e58;
                }
            }

        }

    }

    #search {
        width: 300px;
        height: 40px;
        background-color: #f6f5f3;
        @include flex3;

        #search_icon {
            width: 8%;
            height: 20px;
            cursor: $c;
            @include flex;

        }


        input {
            width: 75%;
            height: 25px;
            font-size: 17px;
            border: none;
            background-color: #f6f5f3;
        }
    }
}

.sub_nav {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ddd;
}

.sub_text {
    width: $w;
    height: $h;
    margin: $m;
    @include flex3;
}

.buy {
    width: 100%;
    height: 709px;
}

.buy_box {
    width: $w;
    margin: $m;
    height: 709px;
    border-bottom: 1px solid #ddd;
    @include flex;
}

.buy_book {
    width: 50%;
    height: $h;
    border-right:1px solid #ddd;
    @include flex {
        flex-direction: column;
    }

    ;
}

.book_img {
    width: 300px;
    height: 452px;
    background-color: antiquewhite;

    img {
        width: 100%;
        height: 100%;
    }
}

.book_button_box {
    width: 100px;
    height: 50px;
    background-color: aliceblue;
    @include flex3;
}

.book_button {
    width: 20px;
    height: 20px;
    background-color: blueviolet;
}

.buy_book2 {
    width: 50%;
    height: $h;
    margin-left:5%;
}

.buy_text1 {
    width: 100%;
    height: 350px;
  
    display: flex;
    flex-direction: column;

    h1 {
        margin-top: 10%;
        margin-bottom:3%;
    }

    h2 {
        margin: 1% 0;
    }

    span {
        display: inline-block;

        margin: {
            top: 1%;
            bottom: 3%;
        }
    }

}

.text2 {
    width: 100%;
    height: 40px;


    img{
        width:2.5%;
    }

}

.option_box {
    width: 80%;
    @include flex2;
    margin-top:2%;
    position:relative;
}


.option {
    width: 25%;
    height: 60px;
    border-bottom: 1px solid #ddd;
    cursor: $c;
    p {
        &:first-child {
            margin-bottom: 3%;
            font-size: 18px;
        }

    }
}


.option_border{
    border-bottom:1px solid #333;
    }
    

.book_in {
    width: 100%;
    height: 250px;

    margin-bottom: 1px solid #ddd;

}

.book_in2 {
    width: 100%;
    height: 150px;

}

.buy_button_box {
    width: 60%;
    height: 100px;

    @include flex3;
}

.sum{
    width:24%;
    height:50px;
    
    @include flex3;
}

.num {
    width: 120px;
    height: 60px;
   border:1px solid #ddd;
    @include flex3;
   
}

#plus,#mi{
    width:20px;
    height:20px;

    cursor: $c;
    font-size: 20px;
    @include flex;
}
.price{
    width:20px;
    height:20px;
    border:none;
}

.buy_button {
    width: 220px;
    height: 60px;
    background-color: #333;
    @include flex;
    cursor: $c;
    color:white;
}

.add {
    width: 100%;
    height: 60px;

}

.add_box {
    width: 50%;
    height: $h;
    @include flex3;

    margin-left: 2%
}

#menu {
    width: 100%;
    height: 1630px;
}

.menu_box {
    width: 100%;
    height: 60px;


    ul {
        @include flex;

        border: {
            top: 1px solid #ddd;
            bottom: 1px solid #ddd;
        }

        li {
            width: 100px;
            height: 60px;
            @include flex;
            cursor: $c;
        }
    }

}

.menu_de{
    width:1055px;
    height:1400px;
    margin:5% auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}




.menu_re {
    width: $w;
    height: 210px;
    margin: 3% auto;
    @include flex;
}

.custom {
    width: 40%;
    height: 210px;


    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    p {
        font-size: 18px;
        font-weight: 900;
    }
}

.number_box {
    width: 45%;

    @include flex;
}

.number2 {
    img {
        width: 10%;
    }

    margin-left:10%;
}

.re_box1 {
    width: 170px;
    height: 50px;
    background-color: aliceblue;
    @include flex;
}

.re_box_box {
    width: 68%;
    @include flex2;
}

.re_box2 {
    width: 170px;
    height: 50px;
    background-color: rgb(85, 96, 105);
    @include flex4(flex, center, center, row);
}

.number {
    font-size: 50px;
    font-weight: 800;
}

.bar {
    width: 150px;
    height: 0.5rem;
    border-radius: 20px;
    background-color: antiquewhite;
    position:relative;
    
   
      
        
 
}




.star {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:first-of-type {
            .bar::after {
                content: '';
                width: 120px;
                height: 0.5rem;
                border-radius: 20px;
                background-color: gold;
                position: absolute;
            }
        }

        &:nth-of-type(2) {
            .bar::after {
                content: '';
                width: 100px;
                height: 0.5rem;
                border-radius: 20px;
                background-color: gold;
                position: absolute;
            }
        }

        &:nth-of-type(3) {
            .bar::after {
                content: '';
                width: 80px;
                height: 0.5rem;
                border-radius: 20px;
                background-color: gold;
                position: absolute;
            }
        }

        &:nth-of-type(5) {
            .bar::after {
                content: '';
                width: 10px;
                height: 0.5rem;
                border-radius: 20px;
                background-color: gold;
                position: absolute;
            }
        }
 
}

.custom2 {
    width: 40%;
    height: 210px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.re_box {
    width: 1055px;
    height: 1195px;
    margin: $m;


    h3 {
        margin: 5% 0;
    }
}

.box {
    width: 100%;
    height: 330px;
    margin-top: 5%;
    border-bottom: 1px solid #ddd;

    img {

        width: 1.3%;

    }

    p {
        width: 100%;
        margin: 3% 0;
    }
}

.box_box {
    width: 77%;

    span:first-child {
        font-size: 18px;
        font-weight: 600;
    }


}

.like_box {
    margin-top: 2%;

    span {
        margin: 0 2%;
    }

    img {
        &:last-of-type {
            width: 2.5%;
            cursor: $c;
        }

        &:first-of-type {
            width: 2.5%;
            cursor: $c;
        }
    }

}

.re_input{
    width:1055px;
    height:400px;
    margin:$m;

    h4{
        font-size: 18px;
    }
    span{
        margin:2% 0;
        display: inline-block;
    }
    textarea{
        width:70%;
        height:100px;
        margin-top:2%;

    }
}
.input_button{
    width:150px;
    height:50px;
    cursor:$c;
    background-color: #333;
    @include flex;
    color: white;
    margin-top:2%;
}

.input_box{
    position:relative;
}
.star_box{
    cursor:$c;
}
.star_box2{
    position:absolute;
    bottom:0%;
    z-index: -1;
    cursor:$c;
   display: none;
}

.del{
    width:$w;
    height:800px;
    margin: $m;
    @include flex;
    table{
        width:1000px;
        height:600px;
        border-spacing: 0;
    }

    th{
        border-collapse: collapse;
        border:1px solid #ddd;
        background-color: rgb(247, 247, 247);
        padding:1.5%;

    }
    td{
        font-size: 13px;
        border: 1px solid #ddd;
        li{
            list-style: circle;
            margin-left: 3%;
        }
    }





}

.also{
    width:$w;
    height:500px;

    margin:$m;
    position:relative;

    h1{
        margin-bottom: 3%;
    }
}

.also_slide{
    overflow: hidden;
  
}


#prev{
    width:70px;
    height:70px;
  
    position:absolute;
    left:-7%;
   top:40%;
   cursor:$c;
}

#next{
    width:70px;
    height:70px;

    position:absolute;
    right:-7%;;
    top:40%;
    cursor:$c;
}

#next,#prev{
    font-size: 25px;
    @include flex;
    border: 1px solid #ddd;
    transition: .3s ease;
    &:hover{
        background-color: #333;
        color:#fff;
    }
}

.slide{
    width:2104px;
    height:305px;
    @include flex3;
}

.al{
    width:212px;
    height:300px;

    position:relative;
    @include flex{
        flex-direction: column;
    }
    border: 1px solid #ddd;
    &:hover .al_text{
        bottom:45px;
    }
    &:hover{
        border:1px solid #333;
    }
}

.al_img{
    width:140px;
    height:170px;

}

.al_text{
    width:80%;
    height:100px;
    background-color:  white;
    position:absolute;
    bottom:14px;
    transition:.3s ease;
    @include flex4(flex,space-around, flex-start, column);
    h3{
        font-size: 14px;
    }

    span{
        font-size: 13px;
        color:#f75454;
    }
    p{
        font-size: 14px;
    }
}

.al_text2{
    width:80%;
    height:100px;
    background-color: white;
    @include flex4(flex,space-around , flex-end,row);
    font-size: 14px;
    cursor: $c;

}
.icon{
    width:30px;
    height:30px;
    cursor: $c;
    border-radius: 50%;
    @include flex;
    transition:.3s ease;
    img{
        width:70%;
        height:70%;
    }

    &:hover{
        background-color: #f75454;
    }
}
    
footer {
    width: 100%;
    height: 493px;
    border-top: 1px solid #ddd;
    margin: $m;
    @include flex;

    .f1 {
        width: 270px;
        height: 350px;
        margin-top: -5%;

        .logo {
            width: 200px;
            height: 50px;

            margin: 10% 0;

            img {
                width: 100%;
                height: 100%;
            }
        }

        p {

            &:nth-of-type(2) {
                margin: {
                    top: 2%;
                    bottom: 7%;
                }
            }

            &:nth-of-type(4) {
                margin: {
                    top: 2%;
                    bottom: 5%;
                }
            }
        }


        .f1_icon {
            width: 200px;
            height: 50px;
            @include flex2;

            .f_icon {
                width: 20px;
                height: 20px;
                cursor: $c;
            }

            img {
                width: 100%;
                height: 100%;
                filter: brightness(20%);
                transition: .3s ease;

                &:hover {
                    filter: brightness(100%);
                }
            }
        }
    }

    .f2 {
        width: 160px;
        height: 350px;
        margin: 1%;

        p {
            font-size: 18px;
            margin-bottom: 10%;
            font-weight: 600;
        }
    }


    ul {

        font: {
            size: 15px;
            weight: 1px;
        }

        li {
            line-height: 2.5;


            a {
                transition: 0.3s ease;

                &:hover {
                    color: #f75454;
                    margin-left: 10px;
                }
            }
        }

    }

}

